<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Rider - Qourier</title>
</head>
<body>

    <nav th:replace="base :: navbar"></nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="details-name">Diego</h2>
                <h4><i id="account-type">Rider</i></h4>

                <p>State: <span id="details-state" th:text="${rider.account.state.name().toLowerCase()}">suspended</span></p>
                <p>Email: <span id="details-email" th:text="${rider.account.email}">diego@mail.com</span></p>
                <p>Citizen ID: <span id="details-citizen-id" th:text="${rider.citizenId}">123456789</span></p>
            </div>
        </div>
        <div id="statistics-section" class="row" th:if="${accepted}">
            <div class="col-12">
                <h3>Statistics</h3>

                <h5 id="statistics-deliveries-over-time">Deliveries done over time</h5>
                <img src="../static/images/grafana_placeholder.png" alt="Grafana placeholder for deliveries done over time" />

                <h5 id="statistics-average-time-spent">Average time spent on each delivery</h5>
                <img src="../static/images/grafana_placeholder.png" alt="Grafana placeholder for average time spent" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Other</h3>

                <th:block id='admin-space' th:if="${role.name() == 'ADMIN'}">
                    <button id="toggle-account" type="button" class="btn btn-primary" th:text="${rider.account.state.name().equals('ACTIVE') ? 'Suspend account' : 'Activate account'}">
                        Activate account
                    </button>
                </th:block>

                <input id="attrs-state" type="hidden" value="SUSPENDED" th:value="${rider.account.state.name()}" />
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>
    <script th:src="@{/scripts/base.js}" src="../static/scripts/base.js"></script>

    <script>

        let activeAccount = $('#attrs-state').val() === 'ACTIVE';
        let toggleAccountButton = $('#toggle-account');
        let detailsState = $('#details-state');

        toggleAccountButton.click(function () {

            activeAccount = !activeAccount;
            if (activeAccount) {
                toggleAccountButton.text('Suspend account');
                detailsState.text('active');
                activateAccount();
            }
            else {
                toggleAccountButton.text('Activate account');
                detailsState.text('suspended');
                suspendAccount();
            }
        })

        function activateAccount() {
            // TODO fill with implementation
        }

        function suspendAccount() {
            // TODO fill with implementation
        }

    </script>

</body>
</html>