<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Customer - Qourier</title>
</head>
<body>

    <nav th:replace="base :: navbar"></nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="details-name">Cristina Laundry</h2>
                <h4><i>Customer</i></h4>

                <h3>Details</h3>

                <p>State: <span id="details-state" th:text="${customer.account.state.name().toLowerCase()}">active</span></p>
                <p>Email: <span id="details-email" th:text="${customer.account.email}">cristina@mail.com</span></p>
                <p>Service type: <span id="details-service-type" th:text="${customer.servType}">Laundry</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Statistics</h3>

                <!-- TODO grafana -->
                <h5>Rate of delivery requests</h5>
                <img src="../static/images/grafana_placeholder.png" alt="Grafana placeholder for request rate" />

                <!-- TODO grafana -->
                <h5>Average time until delivery</h5>
                <img src="../static/images/grafana_placeholder.png" alt="Grafana placeholder for time until delivery" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Other</h3>

                <th:block id="admin-space" th:if="${role.name() == 'ADMIN'}">
                    <button id="toggle-account" type="button" class="btn btn-primary" th:text="${customer.getState().name().equals('ACTIVE') ? 'Suspend account' : 'Activate account'}">
                        Suspend account
                    </button>
                </th:block>

                <th:block id="customer-space" th:if="${role.name() == 'CUSTOMER'}">
                    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#api-key-spoiler" aria-expanded="false" aria-controls="api-key-spoiler">
                        API Key
                    </button>
                    <div class="collapse" id="api-key-spoiler">
                        <div class="card card-body">
                            <span th:text="apiKey">mvm8934mv934hg0v9h23029m2378gr</span>
                        </div>
                    </div>
                </th:block>

                <input id="attrs-state" type="hidden" value="ACTIVE" th:value="${customer.account.state.name()}" />
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>
    <script th:src="@{/scripts/base.js}" src="../static/scripts/base.js"></script>

    <script>

        let activeAccount = $('#attrs-state').val() === 'ACTIVE';
        let toggleAccountButton = $('#toggle-account');
        let detailsState = $('#details-state');

        toggleAccountButton.click(function () {
            activeAccount = !activeAccount;
            if (activeAccount) {
                toggleAccountButton.text('Suspend account');
                detailsState.text('active');
                activateAccount();
            }
            else {
                toggleAccountButton.text('Activate account');
                detailsState.text('suspended');
                suspendAccount();
            }
        })

        function activateAccount() {
            // TODO fill with implementation
        }

        function suspendAccount() {
            // TODO fill with implementation
        }

    </script>

</body>
</html>